<h1>Records#show</h1>
<h1 style="color:red">Current user is <%= current_user.role %></h1><br>
<h1>patient_disease:<%= @record.patient_disease %></h1>
<h1>  suffering_period:  <%= @record.suffering_period %></h1>
<h1>  height: <%= @record.height %></h1>
<h1>  weight: <%= @record.weight %></h1>
