<h1>Hospitals#show</h1>
<h1 style="color:red">Current user is <%= current_user.role %></h1><br>
<h1>hospital_name:<%= @hospital.hospital_name %></h1>
<h1>  mobile:  <%= @hospital.mobile %></h1>
<h1>  address: <%= @hospital.address %></h1>
<h1>  city: <%= @hospital.city %></h1>

