<h1>Doctors#show</h1>
<h1 style="color:red">Current user is <%= current_user.role %></h1><br>
<h1>doctor_name:<%= @doctor.doctor_name %></h1>
<h1>mobile:  <%= @doctor.mobile%></h1>
<h1>address:  <%= @doctor.address %></h1>
<h1>specilization:  <%= @doctor.specilization %></h1>

<h1>start_time:  <%= @doctor.start_time %></h1>
<h1>end_time:  <%= @doctor.end_time %></h1>
<h1>appointment_date:  <%= @doctor.appointment_date %></h1>


