<h1>Appointments#edit</h1>
<p>Find me in app/views/appointments/edit.html.erb</p>

<%= form_with model: @appointment do |form| %>
    <div>
        <%= form.label :start_time %><br>
        <%= form.time_field :start_time %>
        <% @appointment.errors.full_messages_for(:start_time).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :end_time%><br>
        <%= form.time_field :end_time %><br>
        <% @appointment.errors.full_messages_for(:end_time).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

       
    </div>

    <div><%= form.submit %></div>
<% end %>    